In [1]:
import numpy as np
import pandas as pd
import scipy as sp
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import Ridge

In [2]:
train_data = pd.read_csv('salary-train.csv')
test_data = pd.read_csv('salary-test-mini.csv')

In [3]:
test_data.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [4]:
train_data.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 4 columns):
FullDescription       60000 non-null object
LocationNormalized    60000 non-null object
ContractTime          44418 non-null object
SalaryNormalized      60000 non-null int64
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [6]:
train_data.FullDescription = train_data.FullDescription.str.lower()
test_data.FullDescription = test_data.FullDescription.str.lower()

In [7]:
train_data.FullDescription.head()

0    international sales manager london ****k  ****...
1    an ideal opportunity for an individual that ha...
2    online content and brand manager// luxury reta...
3    a great local marketleader is seeking a perman...
4    registered nurse / rgn  nursing home for young...
Name: FullDescription, dtype: object

In [8]:
train_data.FullDescription = train_data.FullDescription.replace(
    '[^a-zA-Z0-9]', ' ', regex=True
)

test_data.FullDescription = test_data.FullDescription.replace(
    '[^a-zA-Z0-9]', ' ', regex=True
)

In [9]:
train_data.FullDescription.head()

0    international sales manager london     k      ...
1    an ideal opportunity for an individual that ha...
2    online content and brand manager   luxury reta...
3    a great local marketleader is seeking a perman...
4    registered nurse   rgn  nursing home for young...
Name: FullDescription, dtype: object

In [10]:
tf_idf = TfidfVectorizer(min_df=5).fit_transform(train_data.FullDescription)

In [11]:
train_data.FullDescription = tf_idf

In [12]:
tf_idf.data[:10]

array([ 0.04490547,  0.03870308,  0.02493399,  0.05094143,  0.02780917,
        0.05130521,  0.01978406,  0.02052064,  0.0710102 ,  0.03545174])

In [13]:
train_data.LocationNormalized.fillna('nan', inplace=True)
train_data.ContractTime.fillna('nan', inplace=True)

In [14]:
train_data.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,"(0, 9611)\t0.044905469531\n (0, 20413)\t0.0...",London,permanent,33000
1,"(0, 9611)\t0.044905469531\n (0, 20413)\t0.0...",London,permanent,50000
2,"(0, 9611)\t0.044905469531\n (0, 20413)\t0.0...",South East London,permanent,40000
3,"(0, 9611)\t0.044905469531\n (0, 20413)\t0.0...",Dereham,permanent,22500
4,"(0, 9611)\t0.044905469531\n (0, 20413)\t0.0...",Sutton Coldfield,nan,20355

In [15]:
enc = DictVectorizer()
x_train_categ = enc.fit_transform(train_data[
        ['LocationNormalized', 'ContractTime']].to_dict('records'))
x_test_categ = enc.fit_transform(train_data[
        ['LocationNormalized', 'ContractTime']].to_dict('records'))

In [16]:
#new_data = sp.sparse.hstack(train_data.FullDescription, x_train_categ)

In [17]:
new

NameError: name 'new' is not defined