In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [9]:
columns = list(data.columns.values)

In [10]:
columns

['Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [11]:
det_cols = ['Pclass', 'Fare', 'Age', 'Sex']

In [12]:
undet_cols = [col for col in columns if col not in det_cols]

In [13]:
undet_cols

['Survived', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked']

In [15]:
df = data.drop(undet_cols, axis=1)

In [16]:
df.head()

             Pclass     Sex  Age     Fare
PassengerId
1                 3    male   22   7.2500
2                 1  female   38  71.2833
3                 3  female   26   7.9250
4                 1  female   35  53.1000
5                 3    male   35   8.0500

In [19]:
y = data['Survived']

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 4 columns):
Pclass    891 non-null int64
Sex       891 non-null object
Age       714 non-null float64
Fare      891 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 34.8+ KB

In [36]:
full_df = df[df.Age.notnull()]

In [37]:
len(full_df)

714

In [39]:
y = data[data.Age.notnull()]['Survived']

In [41]:
len(y)

714

In [46]:
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [52]:
dicts = {}
label = LabelEncoder()
label.fit(full_df.Sex.drop_duplicates())
dicts['Sex'] = list(label.classes_)
full_df.Sex = label.transform(full_df.Sex)

In [54]:
list(label.classes_)

[0, 1]

In [53]:
dicts

{'Sex': [0, 1]}

In [55]:
clf = DecisionTreeClassifier(random_state=241)

In [56]:
clf.fit(full_df, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=241, splitter='best')

In [57]:
importances = clf.feature_importances_

In [58]:
importances

array([ 0.14000522,  0.30051221,  0.2560461 ,  0.30343647])

In [59]:
full_df.columns.values

array(['Pclass', 'Sex', 'Age', 'Fare'], dtype=object)